<Layouts.app flash={@flash}>
  <div class="flex min-h-screen items-center justify-center">
    <.link
      href={~p"/auth/login"}
      class="rounded-lg bg-indigo-600 px-6 py-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 active:scale-95 transition-all"
    >
      Login
    </.link>
  </div>
</Layouts.app>
